@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&family=Open+Sans&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Harmattan', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

p,
input {
    font-family: 'Quicksand', sans-serif;
}

#alertBox {
    background-color: lemonchiffon;
    /* height: 50vh;
    width: 60vw; */
    border-radius: 10px;
    box-shadow: black;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

#resume {
    border: transparent;
    background-color: #ffbd59;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
    align-self: flex-end;
    justify-content: flex-end;
}