@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&family=Open+Sans&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Harmattan', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */


/*
A.Flex Container
1.  Flex directiom - values(row, row-reverse, column, column-reverse)
2.  justify content - values(flex-start, flex-end, center,space-between, space-around, space evenly)
3.  align items - values(flex-start, flex-end, center, stretch, baseline)
4.  align content - values(flex-start, flex-end, center, stretch, space-between, space-around, space evenly)
5.  flex wrap - (wrap, nowrap)

b.Flex Item
1.  align self - flex-start, flex-end, center
2.  order - value can be any numeric number
3.  flex grow - value can be any numeric number
*/

.arabic {
    font-family: 'Harmattan', sans-serif;
    font-size: 1em;
}

.english {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #ffbd59;
    font-size: 1.5em;
}

img {
    width: 25vw;
    height: 40vh;
}

#container {
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
}

div>div:last-child {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

a {
    color: #ffbd59;
    text-decoration: none;
}

#pause-button {
    color: red;
}

#resume-button {
    color: green;
}

#last-next,
#first-previous {
    color: black;
}

#play-button {
    display: flex;
    justify-content: flex-end;
}